/* Empty. Add your own CSS if you like */
.btn-logout {
  background-color: red
}
.img-circle{
  border-radius: 50%;
}
.icon-margins {
  position: relative;
  top: 4px;
}

.home-view {
  background: url('../img/polygonal-texture-background-vector.jpg');
}
.red {
  background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
  border-radius: 4px;
  font-weight: 500;
  color: #FFF;
  text-decoration: none;
}

.logo-aconcagua {
  width: 15vh;
}

.login-view
{
	background: url('../img/portfolio.png');
  background-size: cover;
  background-color: #333333;
}

.top-content
{
  height: 30%;
}

.app-copy
{
  text-align: center;
  padding-top: 5vh;
}

.bottom-content
{
  height: 34%;
}

.icon-size{
  font-size: 4.5vh;
  margin: 5px;
}
.facebook-sign-in
{
  border-radius: 4px;
  font-weight: 500;
  color: #FFF;
  background-color: #294886;
  border-color: darken(#294886, 2);
  text-decoration: none;
  border-radius: 10px;
  /*box-shadow: 0px 5px 0px 0px #002a4a;*/
}

.facebook-sign-in:hover
{
  color: #FFF;
}

.facebook-sign-in:visited
{
  color: #FFF;
  background-color: #294886;
}

.facebook-sign-in:active
{
  color: #294886;
}

.img-omar{
  width: 20vh;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
